* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #444;
}

html::-webkit-scrollbar-thumb {
  background: $color-main;
  border-radius: 5rem;
}

body {
  background-color: #222;
  font-family: "Nunito", sans-serif;
  //text-transform: capitalize;
  transition: all 0.2s ease;
}

section {
  padding: 2rem 9%;
}

h1 {
  //font-family: "Tintos";
}

a {
  text-decoration: none;
}

.title {
  color: #fff;
  font-size: 4.5rem;
  text-transform: uppercase;
  text-align: center;
  &-span {
    color: $color-main;
  }
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  background: #666;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}
