* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #444;
}

html::-webkit-scrollbar-thumb {
  background: $color-main;
  border-radius: 5rem;
}

body {
  background-color: #222;
  font-family: "Nunito", sans-serif;
  //text-transform: capitalize;
  transition: all 0.2s ease;
}

section {
  padding: 2rem 9%;
}

h1 {
  //font-family: "Tintos";
}

a {
  text-decoration: none;
}
