.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.home-slider {
  .slide {
    overflow: hidden;
    border-radius: 0.5rem;
    width: 55rem;
    height: 70rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
